<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="scripts/bootstrap.min.js"></script>
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="AppStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="form-horizontal ">
            <div class="form-group">
                <label class="col-lg-2" for="1">Enter Name</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control input-sm" ng-model="name" id="1" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2" for="2">Enter fee</label>
                <div class="col-lg-3">
                    <input type="number" class="form-control input-sm" ng-model="fee" id="2" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2" for="3">Enter DOB</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control input-sm" ng-model="DOB" id="3" />
                </div>
            </div>


            <div class="col-sm-offset-4">
                <button class="btn btn-success" style="margin-left:15px">SignIn</button>
            </div>
            <div class="col-lg-offset-2">
                <a href="#" class="btn btn-md btn-info">Forgot Username or Password</a>
            </div>
            <div class="col-lg-offset-2">
                <a href="#" class="btn btn-info" >SignUp</a>
            </div>
        </div>
    </div>
</body>
</html>
